<div md-dialog-title>
  Add Order
</div>
<md-dialog-content>
  <form [formGroup]="orderForm" novalidate>
    <div fxLayout="row" fxLayoutWrap>
      <div fxFlex="100%"><br/></div>
      <div fxFlex="100%">
        <md-select placeholder="Type" formControlName="type">
          <md-option *ngFor="let type of types" [value]="type">
            {{type}}
          </md-option>
        </md-select>
      </div>
      <div fxFlex="100%"><br/></div>
      <div fxFlex="100%">
        <md-select placeholder="Grain" formControlName="grain">
          <md-option *ngFor="let grain of grains" [value]="grain">
            {{grain}}
          </md-option>
        </md-select>
      </div>
      <div fxFlex="100%">
        <md-input-container>
          <input type="text" mdInput placeholder="Amount" formControlName="amount">
          <md-error *ngFor="let error of formErrors['amount']">{{error}}</md-error>
        </md-input-container>
      </div>
      <div fxFlex="100%"><br/></div>
    </div>
  </form>
</md-dialog-content>
<md-dialog-actions>
  <button md-button md-dialog-close>Close</button>
  <div class="action-button-container" *ngIf="afAuth.auth.currentUser">
    <button *ngIf="!order.$key" md-raised-button [disabled]='orderForm.invalid' color="primary" (click)="createOrder()">Add</button>
    <button *ngIf="order.$key && order.uid === afAuth.auth.currentUser.uid" md-raised-button color="warn" (click)="deleteOrder()">Delete</button>
    <button *ngIf="order.$key && order.uid === afAuth.auth.currentUser.uid" md-raised-button [disabled]='orderForm.invalid' color="primary"
      (click)="saveOrder()">Save</button>
  </div>
</md-dialog-actions>
