<div class="container" fxLayout="row" fxLayoutWrap>
    <div fxFlex="50%">
        <md-card>
            <md-card-title>
                Add Order
            </md-card-title>
            <img md-card-image src="assets/wheat-field.jpg">
            <md-card-content>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat, massa non tincidunt vulputate, mi nunc dapibus elit,
                    id accumsan enim sapien quis nulla. Aliquam vestibulum ultricies dui, at suscipit neque pretium a. Cras
                    cursus, nisi sit amet elementum consequat, libero velit consectetur ante, sit amet commodo augue augue
                    vel diam. Pellentesque id eros feugiat, egestas est et, pulvinar quam. Integer ac lorem diam. Curabitur
                    viverra augue non augue hendrerit, non porttitor lorem facilisis. Phasellus mi ipsum, bibendum id urna
                    eu, feugiat tincidunt magna. Sed porta tincidunt ultricies. Cras id eleifend justo, non viverra lectus.
                    Cras nec neque turpis. Curabitur lacus justo, viverra rhoncus pharetra rutrum, blandit sed urna. Vestibulum
                    urna arcu, bibendum vel porta in, ultricies sit amet magna. Vivamus dapibus convallis sapien, in facilisis
                    urna ultrices sed. Morbi ut vestibulum tortor. Ut viverra lacus ut orci cursus volutpat.
                </div>
            </md-card-content>
            <md-card-actions>
                <button md-button (click)="openNewOrder()">New Order</button>
            </md-card-actions>
        </md-card>
    </div>
</div>