<div class="container" fxLayout="row" fxLayoutWrap>
  <div fxFlex.sm="50%" fxFlex.xs="100%" fxFlex.gt-sm="25%">
    <md-card>
      <md-card-title>
        Add Order
      </md-card-title>
      <img md-card-image src="assets/wheat-field.jpg">
      <md-card-content>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat, massa non tincidunt vulputate, mi nunc dapibus elit,
          id accumsan enim sapien quis nulla. Aliquam vestibulum ultricies dui, at suscipit neque pretium a.
        </div>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="openNewOrder()">New Order</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
