<md-toolbar color="primary">
  <div fxLayout="row" class="toolbar-container">
    <div fxFlex>{{title}}</div>
    <div fxFlex="40px">
      <button md-icon-button [mdMenuTriggerFor]="appMenu">
   <md-icon>person</md-icon>
</button>
    </div>
  </div>
</md-toolbar>
<md-menu #appMenu="mdMenu">
  <button md-menu-item> Sign In </button>
  <button md-menu-item> About </button>
</md-menu>
<div class="main-container" fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex>
    <h1>
      Coming Soon!!!
    </h1>
  </div>
  <div fxFlex>
    <img class="logo" src="/assets/scarecrow.svg" />
  </div>
</div>
